@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
  display: flex;
  justify-content: center;
  color: black;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("./images/wave-haikei.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#hero h1 {
  display: flex;
  align-items: inline;

  font-family: "Quicksand", sans-serif;
  font-size: 50px;
  text-align: center;
  margin-top: 1em;
  color: #000000;
}

/*--------------------------------------------------------------
# Calendar
--------------------------------------------------------------*/

#view-header {
  padding: 20px;
  font-family: "Quicksand", sans-serif;
  text-transform: capitalize;
  font-weight: lighter;
  font-size: 50px;
  color: red;
}

.view-option {
  font-family: "Quicksand", sans-serif;
  display: inline-block;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.selected-view {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  border-bottom: 3px solid rgb(0, 247, 255);
  transition: 0.2s;
}

.view-container {
  position: relative;
  margin: 0 auto;
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.view {
  width: 100%;
  padding-top: 20px;
  transition: 0.3s ease-out;
}

#today-view {
  position: relative;
  top: 0;
}

/* hide table */
.hidden {
  transform: scale(0);
}

.table {
  margin: 0 auto;
}

.cell {
  text-align: center;
  border-radius: 20%;
  background: rgb(254, 233, 225);
  color: rgb(0, 0, 0);
  font-weight: lighter;
}

.date-cell {
  width: 30px;
  background: rgb(16, 134, 189);
}

.habits-header-cell {
  font-family: "Quicksand", sans-serif;
  min-width: 250px;
  background: rgb(112, 166, 248);
  color: #ffffff;
}

#month-div {
  display: flex;
  overflow: scroll;
  flex-direction: row;
}
#month-view {
  display: flex;
}

.month-habit-title-cell {
  height: 30px;
  background: rgb(16, 134, 189);
  position: relative;
}

.today-habit-title-cell {
  height: 35px;
  position: relative;
  color: #000000;
  background: rgb(16, 134, 189);
  font-size: 20px;
  padding: 5px 30px;
  min-width: 150px;
}

.daily-cell {
  cursor: pointer;
}

.checkbox-cell {
  text-align: center;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  width: 35px;
  font-size: 20px;
  cursor: pointer;
}

.highlight {
  background: rgb(112, 166, 248);
}

.complete {
  background: linear-gradient(
    to bottom right,
    rgb(191, 250, 194),
    rgb(56, 207, 64)
  );
}

.incomplete {
  background: linear-gradient(
    to bottom right,
    rgb(245, 166, 179),
    rgb(207, 56, 81)
  );
}

.start-date {
  background: linear-gradient(
    to bottom right,
    rgb(55, 0, 255),
    rgb(0, 183, 255)
  );
}

.today-delete,
.month-delete {
  border: none;
  cursor: pointer;
  background: transparent;
  position: absolute;
}
.today-delete {
  color: red;
  right: 5px;
  top: 10px;
}
.month-delete {
  color: red;
  left: 5px;
  top: 8px;
}

.form-container {
  position: relative;
}

#form {
  margin: 40px;
}

.form-item {
  position: relative;
  background-color: #fa7268;
  width: 250px;
  height: 50px;
  border-radius: 5px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

#habit-title-input {
  width: 90%;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  border: none;
  outline: none;
  padding: 3px;
  margin: 3px auto;
  background: "";
  text-align: center;
  transition: 0.2s;
  background-color: #fa7268;
  text-decoration: none;
}
#habit-title-input:focus {
  margin-top: 12px;
  border-bottom: 1px solid black;
}

#habit-title-input:focus + .label {
  margin-top: -15px;
  font-size: 12px;
}
#habit-title-input:valid + .label {
  margin-top: -15px;
  font-size: 12px;
}
.label {
  position: absolute;
  font-size: 18px;
  padding: 5px;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  transition: 0.2s;
  color: black;
}

#calendar-container {
  margin-top: 2em;
  width: 770px;
}

#calendar-header {
  padding: 10px;
  color: #d36c6c;
  font-size: 26px;
  font-family: "Quicksand", sans-serif;
  display: flex;
  justify-content: space-between;
  position: relative;
}

#calendar-header button {
  background-color: #92a1d1;
  width: 100px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 0px;
  border-radius: 15px;
  font-size: 20px;
  color: white;
  position: relative;
}

#weekdays {
  width: 100%;
  color: #247ba0;
  display: flex;
  justify-content: space-between;
}

#weekdays div {
  width: 100px;
  display: inline-flex;
  /* justify-content: space-between; */
}

#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.day {
  font-family: "Quicksand", sans-serif;
  width: 100px;
  padding: 10px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 5px;
  box-shadow: 0px 0px 3px #cbd4c2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.day:hover {
  background-color: #e8faed;
}

.day + #currentDay {
  background-color: #e8f4fa;
}

.event {
  font-family: "Quicksand", sans-serif;
  font-size: 10px;
  padding: 3px;
  background-color: #58bae4;
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}

.padding {
  cursor: default !important;
  background-color: #fffcff !important;
  box-shadow: none !important;
}

#newEventModal,
#deleteEventModal {
  font-family: "Quicksand", sans-serif !important;
  text-align: center;
  color: rgb(0, 0, 0);
  display: none;
  z-index: 20;
  padding: 25px !important;
  background-color: #dbdbdb;
  box-shadow: 0px 0px 10px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
}

#eventTitleInput {
  font-family: "Quicksand", sans-serif;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}

#eventTitleInput.error {
  border: 2px solid red;
}

#cancelButton,
#deleteButton {
  font-family: "Quicksand", sans-serif;
  background-color: #d36c6c;
  border-radius: 10px;
}

#saveButton,
#closeButton {
  background-color: #92a1d1;
  border-radius: 10px;
}

#eventText {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
}

#modalBackDrop {
  display: none;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}

@media (max-width: 992px) {
  #header {
    width: 300px;
    background: #fff;
    border-right: 1px solid #e6e9ec;
    left: -300px;
  }
}

@media (min-width: 992px) {
  #main {
    margin-left: 100px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
#navbar {
  border-style: none;
}
.nav-menu {
  padding: 0;
  display: block;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #ffffff;
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  background: #fa7268;
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}

.nav-menu a i {
  font-size: 20px;
}

.nav-menu a span,
.nav-menu a:focus span {
  padding: 0 7px 0 7px;
  color: #45505b;
}

@media (min-width: 992px) {
  .nav-menu a,
  .nav-menu a:focus {
    width: 56px;
  }
  .nav-menu a span,
  .nav-menu a:focus span {
    display: none;
    color: #fff;
  }
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a {
  color: #fff;
  background: #f1b33e;
}

.nav-menu a:hover span,
.nav-menu .active span,
.nav-menu .active:focus span,
.nav-menu li:hover > a span {
  color: #fff;
}

.nav-menu a:hover,
.nav-menu li:hover > a {
  width: 100%;
  color: #fff;
}

.nav-menu a:hover span,
.nav-menu li:hover > a span {
  display: block;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 28px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 0;
  cursor: pointer;
  border-radius: 50px;
  padding: 5px;
}

.mobile-nav-toggle i {
  color: #45505b;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle {
  color: #fff;
  background-color: #f1b33e;
}

.overall-progress-bar {
  width: 100%;
}
