@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'Quicksand', sans-serif; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("./images/layered-waves-haikei.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#hero:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero h1 {
  margin: -200px 0 30px 0;
  font-family: 'Quicksand', sans-serif; 
  font-size: 60px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
}

#hero h2 {
  font-family: 'Pacifico', sans-serif;
  color: #eee;
  margin-bottom: 30px;
  font-family: 'Pacifico', sans-serif;
  font-size: 28px;
}

.btn {
  color: white;
  border: 2px solid #ffffff;
  border-radius: 20px;
}

.btn:hover {
  color: white;
  box-shadow: 0 0px 50px 0 rgba(255, 255, 255, 0.329), 0 0px 50px 0 rgba(211, 211, 211, 0.466);
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

/*--------------------------------------------------------------
# Concept Section
--------------------------------------------------------------*/
.concepts {
  width: 100%;
  height: 100vh;
  aspect-ratio: 960/540;
  background: url("./images/layered-waves-haikei-2.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.concepts:before {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.concepts .section-title h2 {
  font-family: 'Quicksand', sans-serif; 
  font-size: 45px;
  margin-bottom: 2em;
  margin-top: 6em;
  text-align: center;
}

.concepts h3, h4 {
  font-family: 'Quicksand', sans-serif; 
  color: rgb(0, 0, 0);
  margin-bottom: 30px;
  font-size: 24px;
}

.concepts .icon-box {
  text-align: center;
  padding: 80px 20px;
  transition: all ease-in-out 0.3s;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.4);
}

.concepts .icon-box .icon {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background: #ff9d1c;
  transition: all 0.3s ease-out 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4em;
  transform-style: preserve-3d;
}

.concepts .icon-box .icon i {
  color: #fff;
  font-size: 40px;
}

.concepts .icon-box .icon::before {
  position: absolute;
  content: "";
  left: -8px;
  top: -8px;
  height: 100%;
  width: 100%;
  background: #fce5e5;
  transition: all 0.3s ease-out 0s;
  transform: translateZ(-1px);
}

.concepts .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.concepts .icon-box h4 a {
  color: #191919;
}

.concepts .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.concepts .icon-box:hover {
  background: #ff9d1c;
  border-color: #ff9d1c;
  padding: 70px 20px 90px 20px;
  color: #ffffff;
}

.concepts .icon-box:hover .icon {
  background: #fff;
}

.concepts .icon-box:hover .icon i {
  color: #cc1616;
}

.concepts .icon-box:hover .icon::before {
  background: #a54c10;
}

.concepts .icon-box:hover .icon i::before {
  color: #cc1616;
}

.concepts .icon-box:hover h4 {
  color: #ffffff;
}

.concepts .icon-box:hover p {
  color: #fff;
}

/*--------------------------------------------------------------
# Reviews Section
--------------------------------------------------------------*/
.reviews {
  width: 100%;
  height: 100vh;
  aspect-ratio: 960/540;
  background: url("./images/stacked-waves-haikei-3.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.reviews h2 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: rgb(0, 0, 0);
  font-family: 'Quicksand', sans-serif; 
  font-size: 45px;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
}

.reviews h3 {
  font-size: 10px;
  color: rgb(0, 0, 0);
  font-family: 'Quicksand', sans-serif; 
  font-size: 45px;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
  color: #ffffff;
}

.reviews p {
  margin-bottom: 30px;
  font-size: 24px;
  text-align: center;
  color: #000000;
}

.reviews .card  {
  align-items: center;
  box-shadow: 0 0px 50px 0 rgba(61, 52, 52, 0.329), 0 0px 50px 0 rgba(49, 42, 42, 0.466);
  padding: 30px 5px 10px 5px;
  margin-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  background-color: white;
}
}

.reviews .card .stars {
  padding-left: 1.5rem;
  align-items: center;
}

/* .reviews .card p .review-comment {
  padding-left: 1.5rem;
  text-align: center;
}  */

.reviews .card .p2 {
  padding-left: 1.5rem;
  text-align: center;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.row {
  margin: 0 -5px;
  margin: 2rem 0rem;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


@media (max-width: 1250px) {
  .stars {
      font-size: 0.8rem;
  }

  .section-3 p {
      font-size: 0.8rem;
  }
}

@media (max-width: 750px) {
  .section-3 .info {
      text-align: center;
  }

  .section-3 h2 {
      font-size: 1.8rem;
      padding-top: 1rem;
  }

  .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #ffffff;
  font-size: 14px;
  background: #576774;
}

#footer .footer-top {
  padding: 5px 0 5px 0;
  color: #ffffff;
  background: #001220;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 26px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 300;
  color: #ffffff;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #ffffff;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #ffffff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #ffffff;
}

#footer .footer-newsletter {
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  position: relative;
  padding-bottom: 12px;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #001220;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #001220;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 5px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
/* 
#footer .social-links a:hover {
  background: #001220;
  color: #fff;
  text-decoration: none;
} */
